:root {
    --ocr-wrapper-border-color: #1aff00;
    --ocr-text-color: #a44;
    --ocr-text-bg-color: rgb(255, 255, 255, 0.8);
    --ocr-text-border-color: #636363;
    --ocr-text-font-family: monospace;
    --ocr-text-font-size: 15px;
    --ocr-text-line-height: 15px;
    --ocr-text-font-weight: normal;
    --ocr-text-align: center;
    --ocr-text-vertical-align: middle;
    --ocr-text-word-wrap: break-word;
    --ocr-text-white-space: break-spaces;
    --ocr-text-font-scale: 1;
}

.ocr-wrapper {
    position: relative;
    border: 2px solid var(--ocr-wrapper-border-color);
    justify-content: center;
    display: inline-block;
}

/* .wrapper:has(> img.wrapped) {
    border: 2px solid #1aff00;
} */

.ocr-wrapped {
    display: block;
    width: 100%;
    height: auto;
}

.patch-text {
    visibility: hidden;
}

.ocr-wrapped ~ .patch-text {
    position: absolute;
    visibility: visible;
    background-color: var(--ocr-text-bg-color);
    
    border: 1px solid var(--ocr-text-border-color);
    color: var(--ocr-text-color);
    /* visibility: hidden; */
    /* opacity: 0.8; */
    /* transition: visibility 0s, opacity 0.5s linear; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */
    font-family: var(--ocr-text-font-family);
    font-size: calc(var(--ocr-text-font-size) * var(--ocr-text-font-scale));
    line-height: calc(var(--ocr-text-font-size) * var(--ocr-text-font-scale));
    font-weight: var(--ocr-text-font-weight);
    text-align: var(--ocr-text-align);
    vertical-align: var(--ocr-text-vertical-align);
    word-wrap: var(--ocr-text-word-wrap);
    white-space: var(--ocr-text-white-space);
}

.patch-text:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.ocr-loading {
    filter: blur(2px);
}

.ocr-error {
    border: 2px solid #ff0000;
    filter: blur(1px);
}

.ocr-cmenu {
    position: absolute;
    /* display: none; */
    background-color: #fff;
    /* border: 1px solid #ccc;
    border-radius: 2px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 999;
    padding: 5px;
}

.ocr-cmenu-item {
    flex-grow: 1;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    border-style: none;
    text-align: left;
}

.ocr-cmenu-item:hover {
    filter: brightness(80%);
}

.ocr-cmenu-divider {
    color: #ccc;
    border-top: 1px solid #ccc;
    margin: 5px 0;
    flex-grow: 1;
}