.ocr-wrapper-5124677111 {
    position: relative;
    border: 2px solid #1aff00;
    justify-content: center;
    display: inline-block;
}

/* .wrapper:has(> img.wrapped) {
    border: 2px solid #1aff00;
} */

.ocr-wrapper-5124677111 .image {
    display: block;
    width: 100%;
    height: auto;
}

.patch-text {
    visibility: hidden;
}

.ocr-wrapped-5124677111 ~ .patch-text {
    position: absolute;
    visibility: visible;
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid #636363;
    color: #a44;
    /* visibility: hidden; */
    /* opacity: 0.8; */
    /* transition: visibility 0s, opacity 0.5s linear; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */
    font-family: monospace;
    font-size: 15px;
    line-height: 15px;
    /* font-weight: bold; */
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: break-spaces;
}

.patch-text:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.ocr-loading {
    filter: blur(5px);
}

.ocr-error {
    border: 2px solid #ff0000;
    filter: blur(1px);
}