.field {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-bottom: 4px;
}

.success {
    background-color: rgb(95, 138, 95);
}

.error {
    background-color: rgb(138, 95, 95);
}

.subunit {
    border: 1px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
}
